# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# local
/build-local

# staging
/build-staging

# production
/build
/build-production

# misc
.DS_Store
# check in env for now.  If we were storing credentials here, then we need to remove the files from Git
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npmrc
